<div *ngIf="report">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <fieldset>
            <h1>Change Status for {{report.data.name}}?</h1>
            <input class="form-control" name="password" type="text" placeholder="Enter Password" formControlName="password"> <br>
            <div *ngIf="submitted" class="alert alert-danger">Incorrect Password</div>
            <button class="btn btn-primary" [disabled]="!form.valid">Change Status</button>
            <button class="btn btn-danger" type="button" (click)="goBack()">Cancel</button>
        </fieldset>
    </form>
</div>
