<div>
    <h3>Add New Location</h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <fieldset>
            <input class="form-control" name="name" type="text" placeholder="Name" formControlName="name"> <br>
            <div *ngIf="form.controls['name'].invalid" class="alert alert-danger">Invalid Name</div>

            <input class="form-control" name="longitude" type="number" placeholder="Longitude" formControlName="longitude"> <br>
            <input class="form-control" name="latitude" type="number" placeholder="Latitude" formControlName="latitude"> <br>
    
            <button class="btn btn-primary" [disabled]="!form.valid">Create</button>
            <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
        </fieldset>
    </form>
</div>




