<div id="mapid" style="width:100%;height:600px"></div>

<div class="reports">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Location</th>
          <th scope="col">Reported By</th>
          <th scope="col">Time Reported</th>
          <th scope="col" colspan="3">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr class="report" *ngFor="let report of reports">
          <td>{{report.data.location_key | location}}</td>
          <td>{{report.data.reporter}}</td>
          <td>{{report.data.date | date:'medium'}}</td>
          <td>{{report.data.picked_up | status}}</td>
          <td><a routerLink="/detail/{{report.key}}">MORE INFO</a></td>
        </tr>
      </tbody>
    </table>
</div>

<button routerLink="/create" type="button" class="btn btn-primary" id="create-btn">Create New Report</button>