<div *ngIf="report">
    <h2>{{report.data.name}} Details</h2>
    <table class="table">
      <tbody>
        <tr><td><b>Name: </b></td><td>{{report.data.name}}</td></tr>
        <tr><td><b>Breed: </b></td><td>{{report.data.breed}}</td></tr>
        <tr><td><b>Pig ID: </b></td><td>{{report.data.pid}}</td></tr>
        <tr><td><b>Location: </b></td><td>{{report.data.location_key | location}}</td></tr>
        <tr><td><b>Reported By: </b></td><td>{{report.data.reporter}}</td></tr>
        <tr><td><b>Phone Number: </b></td><td>{{report.data.phone | phone}}</td></tr>
        <tr><td><b>Time Reported: </b></td><td>{{report.data.date | date:'medium'}}</td></tr>
        <tr><td><b>Status: </b></td><td>{{report.data.picked_up | status }}</td></tr>
        <tr><td><b>Extra Notes: </b></td><td>{{report.data.notes}}</td></tr>
      </tbody>
    </table>
    <button class="btn btn-primary" type="button" (click)="goBack()">Go Back</button>
    <button class="btn btn-danger" type="button" (click)="delete()">Delete</button>
</div>